@{
  ViewBag.Title = "About My Blog";
}


<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>@ViewBag.Title.</h2>
      @*<h3>@ViewBag.Message</h3>*@
      <p>
        <img src="/Images/GlenOnCodingLogoFooter.png" alt="">
      </p>
      <p>
        One of the best ways to learn is to teach. So I'm using this blog to summarize and demonstrate coding things that I've learned.
        I hope you find something useful here.
      </p>
      
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>About Me</h2>
      <p>
        After many years away, I found my way back to coding.  Come along with me on my journey to becoming a full-stack .Net web developer.
        If you are considering coding as a profession, perhaps these articles can help you learn a little along your way.
      </p>
      <a class="btn original-btn" target="_blank" href="https://gs-portfolio-cf.netlify.app">View my Portfolio</a>
    </div>
  </div>
</div>



