@{
  ViewBag.Title = "About";
}


<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>@ViewBag.Title.</h2>
      <h3>@ViewBag.Message</h3>



      <p>
        <img src="/Images/GlenOnCodingLogoFooter.png" alt="">
      </p>
      <p>
        Come along with me on my journey to becoming a full-stack .Net web developer.
        If you are considering coding as a profession, perhaps these articles can help you learn a little along your way.
        - Add a link to my portfolio here -
      </p>
    </div>
  </div>
</div>



